
<%- include('../includes/header.ejs') %>

<!-- Font Icon -->
<link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">
<%- include('../includes/navbar.ejs') %>
<link rel="stylesheet" href="/css/signup.css">
<%if(errorMsg.length){%>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong><%=errorMsg%></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
     <%}%>
<!-- <main>
        <form action="/signup" class='product-form' method="POST">
            <div class='email'>
              <label for="email">Email</label>
                <input type="email" name="email" id="email" >
            </div>
            <div class='password'>
            <label for="password">Password</label>
            <input type="password" name="password" >
            </div>
           
            <div class='password'>
                <label for="confirmPassword">confirm Password</label>
                <input type="password" name="confirmPassword" >
                </div>
               
            <button class='btn' type="submit">Sign up</button>
          
        </form>
        </main> -->
        <div class="wrapper">
          <div class="inner">
            <div class="image-holder">
              <img src="/images/book.jpg" alt="">
            </div>
            <form action="/signup" method="POST">
              <h3>Sign Up</h3>
              
              <div class="form-holder">
                <input type="text" name='email' placeholder="e-mail" class="form-control">
              </div>
              <div class="form-holder">
                <input type="password" name='password' placeholder="Password" class="form-control" style="font-size: 15px;">
              </div>
              <div class="form-holder">
                <input type="password" name='confirmPassword' placeholder="Confirm Password" class="form-control" style="font-size: 15px;">
              </div>
              
              <div class="form-login">
                <button  type="submit">Sign up</button>
                <p>Already Have account? <a class='a' href="/login">Login</a></p>
              </div>
            </form>
          </div>
        </div>
    
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/main.js"></script>
        <%- include('../includes/footer.ejs') %>